@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Diemdanh
<html lang="en">
<body>
    <form role="form" method="post">
        <button asp-controller="Diemdanh" asp-action="Checkin" id="in">Check in</button>
        <button asp-controller="Diemdanh" asp-action="Checkout" id="out">Check up</button>
        <table  style="width:100%">
            <tr>
                <th>ID</th>
                <th>ID_NV</th>
                <th>NAME</th>
                <th>TIME_IN</th>
                <th>TIME_OUT</th>
            </tr>
            @{
                List<Diemdanh> diemdanhlist = ViewData["diemdanhList"] as List<Diemdanh>;
                @foreach (Diemdanh staff in diemdanhlist)
                {
                    <tr>
                        <td> @staff.id</td>
                        <td> @staff.id_nv</td>
                        <td> @staff.name</td>
                        <td> @staff.timein</td>
                        <td> @staff.timeout</td>
                    </tr>

                }

            }
            
            <tbody id="tbody"></tbody>
        </table>
    </form>
    <div>
        <button>Đắng ký nghỉ</button>
        <button>Yêu cầu điểm danh</button>
    </div>
	<script src="~/js/dim.js"></script>
</body>
</html>
    