@model IEnumerable<fullstackCsharp.Models.Allowance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllowanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AllowanceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUNavigation.IdU)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAllowance">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAllowance">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAllowance">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
