@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
	<link href="~/css/form.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-sm-4">
            <div class="text">
                <h1>Đăng ký nghỉ</h1>
            </div>
            <form role="form" method="post">
                <label for="id_nv">Mã Nhân viên</label><br />
                <input type="text"
                       id="id_nv"
                       name="id_nv"
                       placeholder="Nhập mã nhân viên" />
                <br />
                <label for="Start">Nghỉ từ</label><br />
                <input type="datetime-local" name="start" id="Start" onblur="checkTime()" /> <br />
                <p id="errs" style="display: none"></p>
                <label for="End">Đến</label><br />
                <input type="datetime-local" name="end" id="End" onblur="checkTime()" /><br />
                <p id="err" style="display: none"></p> 
                <label for="tong">Thông số nghỉ / ngày</label><br />
                <input type="text" name="tong" id="tong" onblur="checkTime()" /><br />
                @TempData["errorForm"] <br />
                <button asp-controller="Form" asp-action="FormPush" class="commit">Đăng ký</button>
            </form>
        </div>
        <div class="col-sm-4 showform">
            <table style="width: 90%">
                <h1>Đơn đã gửi</h1>
                <tr>
                    <th>ID_NV</th>
                    <th>Bắt đầu</th>
                    <th>Kết thúc</th>
                    <th>Trạng thái</th>
                    <th>Huỷ form</th>
                </tr>
                @{
                    List<Form> formlist = ViewData["formList"] as List<Form>;
                    @foreach (Form form in formlist)
                    {
                        <tr>
                            <td> @form.id_nv</td>
                            <td> @form.start</td>
                            <td> @form.end</td>
                            <td> @form.TrangThai</td>
                            <td>
                                <form role="form" method="post" id="@form.Soform">
                                    <button asp-controller="Form" asp-action="DeleteForm" onclick="delelte(@form.Soform)">Cancel</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="col-sm-4 showform">
            <table style="width: 90%">
                <h1>Đơn đã duyệt</h1>
                <tr>
                    <th>ID_NV</th>
                    <th>Bắt đầu</th>
                    <th>Kết thúc</th>
                    <th>thông số nghỉ</th>
                    <th>Trạng thái</th>
                </tr>
                @{
                    List<Form> formlistCf = ViewData["formListCf"] as List<Form>;
                    @foreach (Form form in formlistCf)
                    {
                        <tr>
                            <td> @form.id_nv</td>
                            <td> @form.start</td>
                            <td> @form.end</td>
                            <td>@form.tong</td>
                            <td> @form.TrangThai</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <script>
        var time=new Date()
        var a= document.createElement("input")
        a.value=time.toLocaleDateString();
        a.style.display="none"
        a.name="id"
        document.getElementsByTagName("form")[0].append(a);
        function delelte(m) {
            var b = document.createElement("input")
            b.value = m;
            b.name = "Soform";
            b.style.display="none"
            document.getElementById(m).append(b);
        }
        function checkTime() {
            let date = new Date();
            let start = new Date(document.getElementById("Start").value);
            let end = new Date(document.getElementById("End").value);
            if (start.getDate() < date.getDate() && start.getMonth() === date.getMonth()) {
                document.getElementById("errs").innerText =
                    "Vui lòng kiểm tra lại thời gian bắt đầu";
                document.getElementById("errs").style.display = "block";
            } else { 
                document.getElementById("errs").innerText =
                    "";
                document.getElementById("errs").style.display = "none";
                if (start > end) {
                    document.getElementById("err").innerText =
                        "Vui lòng kiểm tra lại thời gian kết thúc";
                    document.getElementById("err").style.display = "block";
                } else{
                    document.getElementById("err").innerText =
                        "";
                    document.getElementById("err").style.display = "none";
                    tong();
                }
            }
        }
        function tong() { 
            let start = new Date(document.getElementById("Start").value);
            let end = new Date(document.getElementById("End").value);
            console.log("strar: " + start.getMinutes());
            console.log("end: " + end.getMinutes())
            console.log("value: " + (end.getMinutes() - start.getMinutes()));
            let tongDay = end.getDate() - start.getDate();
            let tongMinu = (end.getMinutes() - start.getMinutes()) / (8 * 60);
            let tongHours;
            if (end.getMinutes() === start.getMinutes()) { 
                tongHours = (end.getHours() - start.getHours())/8;
            } else if (start.getMinutes()!=0) {
                tongHours = (end.getHours() - start.getHours() - ((end.getMinutes() + (60 - start.getMinutes())) / 60))/8;
            } else if (start.getMinutes()==0){
                tongHours = (end.getHours() - start.getHours() - ((end.getMinutes() +  start.getMinutes()) / 60))/8;
            }
            if (tongDay >0) { 
                document.getElementById("tong").value = tongDay;
            } else if(tongHours>0){
                document.getElementById("tong").value = tongHours;
            } else {
                document.getElementById("tong").value = tongMinu;
            }
        }
    </script>
</body>