@model fullstackCsharp.Models.Staff

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Staff</title>
    <link href="~/css/staff.css" rel="stylesheet" />
</head>
<body>



    <div>


        <table class="tnv">
            <tr>

                <th> Employee code </th>
                <th> Name employee</th>
                <th> Gender</th>
                <th> Address </th>
                <th> User </th>
                <th> Password </th>
            </tr>
            @{
                List<Staff> stafflist = ViewData["staffList"] as List<Staff>;



                @foreach (Staff staff in stafflist)
                {
                    <tr border="2">
                        <td><input type="checkbox" name="delete" value= "@staff.Manv" /></td>
                        <td> @staff.Manv</td>
                        <td> @staff.Namenv</td>
                        <td> @staff.Gender</td>
                        <td> @staff.Address</td>
                        <td> @staff.User</td>
                        <td> @staff.Password</td>
                    </tr>

                }


            }
        </table>
        <p>
            <button class="setting"> Setting </button>
            <a class="btn btn-dark" asp-area="" asp-controller="staff" asp-action="Create">Create</a>
            <button class="btn btn-dark" onclick="conf()">Delete</button>
            @*<a class="btn btn-dark" asp-area="" asp-controller="staff" asp-action="Delete">xóa</a>*@
        </p>

        <form id="Delete" asp-action="Delete">
         
            <a asp-action="Index">Back to List</a>
        </form>


    </div>

    <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   @* <script>src = "~/js/Staff.js" </script>*@
    <script language="javascript">

        function conf() {
            //var id = document.getElementById("id").value;
            var checkbox = document.getElementsByName('delete');
            var result = "";

            // Lặp qua từng checkbox để lấy giá trị
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked === true) {
                    result += checkbox[i].value + ',';
                }
            }
            
            // In ra kết quả
            alert("giá trị là: " + result);
           
         
            let willDelete = confirm("Bạn có chắc chắn muốn xóa nhân viên" + result + "không?");
            if (willDelete) {
                $("#Delete").submit();

            }

         
        }
    </script>
</body>

</html>




