@model fullstackCsharp.Models.Staff

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Staff</title>
    <link href="~/css/staff.css" rel="stylesheet" />
</head>
<body>



    <div>


        <table class="tnv">
            <tr>

                <th> Mã nhân viên</th>
                <th> Tên nhân viên</th>
                <th> Giới tính</th>
                <th> add</th>
                <th> user</th>
                <th> pass</th>
            </tr>
            @{
                List<Staff> stafflist = ViewData["staffList"] as List<Staff>;



                @foreach (Staff staff in stafflist)
                {
                    <tr border="2">
                        <td> <input type="checkbox" name="deleted" id="delete" value="@staff.Id_nv"/></td>
                        <td> @staff.Id_nv</td>
                        <td> @staff.Namenv</td>
                        <td> @staff.Gender</td>
                        <td> @staff.Address</td>
                        <td> @staff.User</td>
                        <td> @staff.Password</td>
                    </tr>

                }


            }
        </table>
        <p>
            
            <a class="btn btn-dark" asp-area="" asp-controller="staff" asp-action="Create">thêm</a>
            <button class="btn btn-dark"  onclick="conf()"> deleted</button>
        </p>


        <form id="Deleted" asp-action="Delete">
            <input type="hidden" />
            <a asp-action="Index">Back to List</a>
        </form>


    </div>

    <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>src="Staff.js"</script>
    <script>
        function conf(){
            var checkbox = document.getElementsByName('deleted');
            var result = [];
            for(var i=0; i < checkbox.length; i++)
            {
                if (checkbox[i].checked === true){
                    result += checkbox[i].value ;
                }
                
            }
            alert("gias trij" + result);
            
            let willdeleted = confirm("cos muoons xao ko");
            if(willdeleted){
                $("Deleted").submit();
            }
        }


    </script>
</body>

</html>




