@model fullstackCsharp.Models.Staff

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Staff</title>
    <link href="~/css/staff.css" rel="stylesheet" />
</head>
<body>



    <div>


        <table class="tnv">
            <tr>
                <th>Delete</th>
                <th> Mã nhân viên</th>
                <th> Tên nhân viên</th>
                <th> Giới tính</th>
                <th> add</th>
                <th> user</th>
                <th> pass</th>
                <th>Edit</th>
            </tr>
            @{
                List<Staff> stafflist = ViewData["staffList"] as List<Staff>;



                @foreach (Staff staff in stafflist)
                {
                    <tr border="2">
                        <td> <input type="checkbox" name="deleted" id="delete" value="@staff.Id_nv"/></td>
                        <td> @staff.Id_nv</td>
                        <td> @staff.Namenv</td>
                        <td> @staff.Gender</td>
                        <td> @staff.Address</td>
                        <td> @staff.User</td>
                        <td> @staff.Password</td>
                        <td> <input type="radio" name="edited" id="edit" value="@staff.Id_nv" /></td>
                    </tr>

                }


            }
        </table>
        <p>
            
            <a class="btn btn-dark" asp-area="" asp-controller="staff" asp-action="Create">thêm</a>
            <button class="btn btn-dark"  onclick="conf()"> deleted</button>
            <button class="btn btn-dark" onclick="conf1()">Edit</button>
        </p>


        <form id="Deleted" asp-action="Delete">
            <input type="hidden" name="deleteList" value="" id="deleteList" />
            <a asp-action="Index">Back to List</a>
        </form>

        <form id="Edit" asp-action="Edit">
            <input type="hidden" name="edit1" id="edit1" />
            <a asp-action="Index"></a>
        </form>


    </div>

    <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>src="Staff.js"</script>
    <script>
        //=========================================================== Deleted ==============================================
        function conf(){
            var checkbox = document.getElementsByName('deleted');
            var result = [];
            for(var i=0; i < checkbox.length; i++)
            {
                if (checkbox[i].checked === true){
                  
                    result.push(checkbox[i].value);
                }
                
            }
            
            document.getElementById('deleteList').value = result.join();
            var t = result.join();
            console.log(t);

            let willdeleted = confirm("cos muoons xao ko");
            if(willdeleted){
                $("#Deleted").submit();
            }
        }
        //====================================================================== Edit ======================================
        function conf1() {
            var checkbox = document.getElementsByName("edited");
            var results = "";
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked === true) {
                    results += checkbox[i].value;
                }
            }
            document.getElementById("edit1").value = results;
            console.log(results);
            let willEdit = confirm("Bạn có chắc chắn muốn xóa nhân viên" + results + "không?");
            if (willEdit) {
                var url = '@Html.Raw(Url.Action("Edit", new { Id = "_Id" }))';
                console.log(url);
                url = url.replace("_Id", results)
                console.log(url);
                window.location.href = url;
                // $("#Edit").submit();
            }
        }

    </script>
</body>

</html>




